{% extends 'layouts/main.html' %}
{% block title %}Restaurant Menu{% endblock %}
{% block content %}
	<h1>{{name.name}}</h1>				
	<a href="{{ url_for('newMenuItem',restaurant_id=name.id) }}">Create New Item</a>

	<ul class="items">
		{% for restaurant in restaurants %}
		<li>
			<div class="item"> 
				<h2>{{ restaurant.name }}</h2>
				<h3>{{ restaurant.description }}</h3>
				<h4>{{ restaurant.price }}</h4>
				<a href="{{ url_for('editMenuItem',restaurant_id=restaurant.restaurants.id, menu_id=restaurant.id) }}">Edit</a>
				<a href="{{ url_for('deleteMenuItem',restaurant_id=restaurant.restaurants.id, menu_id=restaurant.id) }}">Delete</a>
			</div>
		</li>
		{% endfor %}
	</ul>
{% endblock %}
